@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noyh Geometric' ;
  src:url('/font/noyhgeometrirounded-t-lgc-regular.otf') format('opentype'),
      url('/font/noyhgeometric-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh Geometric';
  src: url('/font/noyhgeometric-bold.otf') format('opentype'),
       url('/font/noyhgeometric-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noyh Geometric';
  src: url('/font/noyhgeometric-italic.otf') format('opentype'),
       url('/font/noyhgeometric-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

html {
  font-size: 90%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  @apply font-sans;
}

.scale-110158 {
  transform: scale(1.10158);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animation-fade-in {
  animation: fadeIn 3s ease-in-out infinite alternate;
}

p {
  font-size: 1.15em;
  line-height: 1.6;
}
.centered {
  text-align: center;
}
.content-box {
  border-radius: 2px;
  box-shadow: 0 0 6px #b3b3b3;
  border: inset gray 2px;
  padding: 0.5em;
}
#servers {
  padding-top: 20px;
}
.thumbnail {
  height: 200px;
}
.nav-tabs-center > li, .nav-pills-center > li {
  float: none;
  display: inline-block;
  margin-bottom: -1px;
  /* display: inline; */
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}
.nav-tabs-center, .nav-pills-center {
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.nav-tabs-center > li > a, .nav-pills-center > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs-center > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 21px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs-center:before, .nav-tabs-center:after, .nav-pills-center:before, .nav-pills-center:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-tabs-center:after, .nav-pills-center:after {
  clear: both;
}
.nav-tabs-center > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs-center > .active > a, .nav-tabs-center > .active > a:hover {
  color: #777;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills-center > .active > a, .nav-pills-center > .active > a:hover {
  color: white;
  background-color: #558bc4;
}
.nav-tabs-center .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.nav-tabs-center .dropdown-toggle .caret {
  margin-top: 8px;
}
.navbar {
  margin-bottom: 30px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.bannerhome {
  text-align: center;
  background: #4a5d75;
  border: 0;
  color: white;
  display: block;
  background: url(../images/bandeau.png) center top no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
}

.maintitle {
  margin: 15px;
}
.scrollTop {
  font-size: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  width: 40px;
  height: 40px;
}


a.list-group-item {
  color: #428bca;
}

code {
  background-color: inherit;
}
.first-in-row {
  margin-left: 0 !important;
}
.alert-danger {
  background-color: #d47500;
  border-color: #c54c00;
  color: #fff;
}
.alert-success {
  background-color: #819e37;
  border-color: #818b30;
  color: #fff;
}
p :not(.tableblock) {
  text-align: justify;
}
.ribbon {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0px;
  z-index: 1031;
}
img.left {
  float: left;
  margin: 0px 15px 10px 0px;
}
img.right {
  float: right;
  margin: 0px 0px 10px 15px;
}
.post-list {
  margin-left: 0px;
  padding-inline-start: 0px;
}
ul.twitter-list li {
  padding-bottom: 6px;
  margin-bottom: 6px;
  border-bottom: 1px solid #e5e5e5;
}
ul.twitter-list li:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}
ul.twitter-list li.nav-header {
  margin-top: 0px;
  border-bottom: 0px;
}
.posts .post {
  margin-bottom: 40px;
}
.post h1 > a {
  margin-right: 15px;
}
.post h1, .post .footer {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.post .footer {
  padding-bottom: 10px;
}
.post h1 a:hover {
  text-decoration: none;
}
.post .meta {
  margin-bottom: 10px;
}
.post a.tag {
  background-color: #999;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  padding: 2px 4px;
  font-weight: bold;
  text-decoration: none;
}
.post a.tag:hover {
  background-color: #b94a48;
}
.sponsors [class*="span"] {
  text-align: center;
  margin-top: 50px;
}
.social-button-container {
  margin-top: 20px;
  overflow: hidden;
}
.social-button {
  float: left;
  margin-right: 5px;
  height: 32px;
}
.imageblock {
  margin-bottom: 0.25em;
}

.doc .listingblock>.content {
  position: relative;
}

.doc .listingblock code[data-lang]::before {
  content: none;
}

.doc .source-toolbox {
  display: flex;
  position: absolute;
  visibility: hidden;
  top: 0.25rem;
  right: 0.5rem;
  color: #808080;
  white-space: nowrap;
  font-size: 0.85em;
}

.doc .listingblock:hover .source-toolbox {
  visibility: visible;
}

.doc .source-toolbox .source-lang {
  font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

.doc .source-toolbox> :not(:last-child)::after {
  content: "|";
  letter-spacing: 0;
  padding: 0 1ch;
}

.doc .source-toolbox .copy-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  outline: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 1em;
  height: 1em;
}

.doc .source-toolbox .copy-icon {
  flex: none;
  width: inherit;
  height: inherit;
  filter: invert(50.2%);
  margin-top: 0.05em;
}

.doc .source-toolbox .copy-toast {
  flex: none;
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin-top: 1em;
  border-radius: 0.25em;
  padding: 0.5em;
  cursor: auto;
  opacity: 0;
  transition: opacity 0.5s ease 0.75s;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.doc .source-toolbox .copy-toast::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1em;
  height: 1em;
  border: 0.55em solid transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
  transform: rotate(-90deg) translateX(50%) translateY(50%);
  transform-origin: left;
}

.doc .source-toolbox .copy-button.clicked .copy-toast {
  opacity: 1;
  transition: none;
} 

/* Style personnalisée */
.nav a {
  color: #9CA3AF;
}

.banner-home {
  padding-top: 5em;
  padding-bottom: 5em;
  color: #384a72;
  /* color: navysciam; */
}

.banner-title > p {
  font-size: 2rem; 
  font-weight: bold;
  margin-bottom: 2em;
}

.banner-subtitle {
  font-size: xl;
  font-weight: regular;
}

/* .footer a:hover {
  color: #384a72;
} */


.blur-effect {
  filter: blur(20px);
}

#searchPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%; 
  max-width: 600px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 50;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}