---
layout: default
pagination: 
  enabled: true
---

<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 sm:col-span-12 flex flex-col items-center justify-center rounded-lg pt-0 pb-5 px-20">
    <p class="text-5xl font-bold text-navysciam">Blog de SCIAM</p>
    <p class="mt-1 text-xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
  </div>
</div>

<div class="grid grid-cols-12 gap-4 py-5">
  <!-- First Article Section -->
  <div class="col-span-12 sm:col-span-8 flex items-center justify-center rounded-lg pr-2 pl-28">
    <div class="bg-white rounded overflow-hidden shadow-lg">
      {% for post in paginator.posts limit:1 %}
      <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}" class="w-full h-5/6 mb-4 rounded-lg" alt="Image article">
      <div class="px-6 py-4">
        <div class="text-2xl font-bold mb-2"><a href="{{ paginator.posts.first.url | relative_url }}" class="hover:text-navysciam hover:decoration-yellowsciam">{{ paginator.posts.first.title }}</a></div>
          <p class="text-sm text-gray-500 mb-4">Écrit par {{ paginator.posts.first.author | append: ', ' | append: paginator.posts.first.date | date: "%d/%m/%Y" }}</p>
          <p class="mb-4">{{ paginator.posts.first.excerpt }}</p>
          <a href="{{ paginator.posts.first.url | relative_url }} class="text-navysciam hover:text-yellowsciam transition">Lire la suite...</a>
      </div>
      <div class="px-6 pt-4 pb-2">
        {% for tag in post.tags %}
        {% assign tagSlug = tag | downcase | slugify: "raw" %}
        <a href="{{ '/tag/' | relative_url }}{{ tagSlug }}/" 
           class="inline-block rounded-full border-{{ tagSlug }}-border bg-{{ tagSlug }}-bg text-{{ tagSlug }}-text px-3 py-1 text-sm font-semibold mr-2 mb-2">
           #{{ tag }}
        </a>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="col-span-12 sm:col-span-4 flex flex-wrap items-center justify-start rounded-md shadow-lg mr-28 px-5">
    <p class="text-2xl font-bold text-navysciam">Tags:</p>
    <div class="relative inline-block text-left">
      {% assign tagsTries = site.tags | sort %}
      {% for tag in tagsTries limit: 35 %}
        {% assign tagName = tag | first %} 
        {% assign tagNameRaw = tagName | downcase | slugify: "raw" %}
        <a href="{{ '/tag/' | relative_url }}{{ tagNameRaw }}/" class="m-1">
          <button id="categoryBtn" 
                class="rounded-full px-3 my-2 min-w-[100px] transition-colors duration-300 border-{{ tagNameRaw }}-border bg-{{ tagNameRaw }}-bg text-{{ tagNameRaw }}-text">
          {{ tagName }}
          </button>
        </a>
      {% endfor %}
    </div>
  </div>

  <!-- <div class="col-span-12 sm:col-span-4 rounded-lg pr-28 pl-2">
    <div class="bg-white rounded overflow-hidden shadow-lg">
      <div class="follow-scroll hidden-xs">
        <a class="twitter-timeline" data-height="510" href="https://twitter.com/{{ site.social-network-links.twitter }}?ref_src=twsrc%5Etfw">Tweets by SCIAM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      </div>
    </div>
  </div> -->
</div>


<div class="grid grid-cols-12 gap-4">
  <div class="col-span-12 sm:col-span-12 rounded-lg px-28">
    <div class="container">
      <div class="w-full">
          <div class="mb-6">
            
            <hr class="my-28 bg-slate-200"/>

            <div class="mb-20">
              <div class="relative inline-block text-left">
                <div class="flex items-center flex-nowrap">
                  <span class="text-sm font-medium text-gray-700 mr-2">Tags:</span>
                  <button class="select-button inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-navysciam" aria-controls="tag-menu" id="menu-button" aria-expanded="false" aria-haspopup="true">
                    Voir tous
                    <svg class="icon-open hidden h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    <svg class="icon-close block h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414z" />
                    </svg>
                  </button>
                </div>
            
                <div  id="tag-menu" class="select-button hidden origin-top-right right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                  <input type="text" class="tag-filter p-2 w-full border-b border-gray-300" placeholder="Rechercher...">
                  <div class="tag-list">
                    <div class="py-1" role="none">
                      {% assign tagsTries = site.tags | sort %}
                      {% for tag in tagsTries %}
                        {% assign tagName = tag | first %} 
                        {% assign tagNameRaw = tagName | downcase | slugify: "raw" %} 
                        {% assign postsCount = tag | last | size %} 
                        <a href="{{ '/tag/' | relative_url }}{{ tagNameRaw }}/" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                          {{ tagName }} ({{ postsCount }})
                        </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
             
            <!-- All Articles Section -->
            <div class="flex">
              <div>
                <div class="flex items-center mb-5">
                  <p class="text-3xl font-bold mr-5">Tous les articles</p>
                  <a href="/posts/">
                    <button class="bg-transparent text-navysciam hover:bg-navysciam font-semibold hover:text-white py-2 px-4 border border-navysciam hover:border-transparent rounded">
                      Voir tous
                    </button>
                  </a>
                </div>
                <div class="grid grid-cols-3 gap-4">
                  {% for post in paginator.posts limit:3 %}
                  <div class="bg-white rounded overflow-hidden shadow-lg flex flex-col">
                    <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}" class="object-cover w-full h-48 border-slate-100 rounded-t-lg" alt="Image article">
                    <div class="p-6 flex flex-col">
                      <h3 class="text-xl font-bold mb-2"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                      <p class="text-sm text-gray-500 mb-4">Écrit par {{ post.author | append: ', ' | append: post.date | date: "%d/%m/%Y" }}</p>
                      <p class="flex-grow overflow-hidden text-ellipsis mb-4" style="max-height: 3rem; overflow-y: hidden;">{{ post.excerpt }}</p>
                      <a href="{{ post.url | relative_url }}" class="text-navysciam hover:text-yellowsciam transition duration-300 ease-in-out">Lire la suite...</a>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                      {% for tag in post.tags %}
                      {% assign tagSlug = tag | downcase | slugify: "raw" %}
                      <a href="{{ '/tag/' | relative_url }}{{ tagSlug }}/" 
                         class="inline-block rounded-full border-{{ tagSlug }}-border bg-{{ tagSlug }}-bg text-{{ tagSlug }}-text px-3 py-1 text-sm font-semibold mr-2 mb-2">
                         #{{ tag }}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <hr class="my-28 bg-slate-200"/>
            <!-- Last Articles -->
            <div class="mt-28 mb-28">
              <div class="flex items-center mb-5">
                <p class="text-3xl font-bold mr-5">Derniers Articles</p>
                <button class="bg-transparent text-navysciam hover:bg-navysciam font-semibold hover:text-white py-2 px-4 border border-navysciam hover:border-transparent rounded">
                  Voir tous
                </button>
              </div>
              <div class="grid grid-cols-4 gap-4">
                {% assign posts = paginator.posts | slice: 3, 4 %}
                {% for post in posts %}
                <div class="bg-white rounded overflow-hidden shadow-lg">
                  <div class="h-48 flex items-center justify-center overflow-hidden">
                    <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}" class="object-contain max-w-full max-h-full" alt="Image of {{ post.title }}">
                  </div>
                  <div class="p-6">
                    <h3 class="text-xl font-bold mb-2 truncate"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                    <p class="text-sm text-gray-500 mb-4 truncate">Ecrit par {{ post.author | append: ', ' | append: post.date | date: "%d/%m/%Y" }}"></p>
                    <p class="truncate">{{ post.excerpt }}</p>
                    <a href="{{ post.url | relative_url }}" class="text-navysciam hover:text-yellowsciam transition duration-300 ease-in-out">Lire la suite...</a>
                  </div>
                  <div class="px-6 pt-4 pb-2">
                    {% for tag in post.tags %}
                    {% assign tagSlug = tag | downcase | slugify: "raw" %}
                    <a href="{{ '/tag/' | relative_url }}{{ tagSlug }}/" 
                       class="inline-block rounded-full border-{{ tagSlug }}-border bg-{{ tagSlug }}-bg text-{{ tagSlug }}-text px-3 py-1 text-sm font-semibold mr-2 mb-2">
                       #{{ tag }}
                    </a>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            
            <hr class="my-28 bg-slate-200"/>
            <!-- Sciam's choice -->
            <div class="mt-28 mb-28">
              <div class="flex items-center mb-5">
                <p class="text-3xl font-bold mr-5">Le choix de SCIAM</p>
                <button class="bg-transparent text-navysciam hover:bg-navysciam font-semibold hover:text-white py-2 px-4 border border-navysciam hover:border-transparent rounded">
                  Voir tous
                </button>
              </div>
              <div class="grid grid-cols-3 gap-4">
                {% assign posts = paginator.posts | slice: 6, 3 %} 
                {% for post in posts %}
                <div class="bg-white rounded overflow-hidden shadow-lg">
                  <div class="h-48 flex items-center justify-center overflow-hidden">
                    <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}" class="object-contain max-w-full max-h-full" alt="Image of {{ post.title }}">
                  </div>
                  <div class="p-6">
                    <h3 class="text-xl font-bold mb-2 truncate"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                    <p class="text-sm text-gray-500 mb-4 truncate">Ecrit par {{ post.author | append: ', ' | append: post.date | date: "%d/%m/%Y" }}"></p>
                    <p class="truncate">{{ post.excerpt }}</p>
                    <a href="{{ post.url | relative_url }}" class="text-navysciam hover:text-yellowsciam transition duration-300 ease-in-out">Read more...</a>
                  </div>
                  <div class="px-6 pt-4 pb-2">
                    {% for tag in post.tags %}
                    {% assign tagSlug = tag | downcase | slugify: "raw" %}
                    <a href="{{ '/tag/' | relative_url }}{{ tagSlug }}/" 
                       class="inline-block rounded-full border-{{ tagSlug }}-border bg-{{ tagSlug }}-bg text-{{ tagSlug }}-text px-3 py-1 text-sm font-semibold mr-2 mb-2">
                       #{{ tag }}
                    </a>
                    {% endfor %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <!-- Boutons de pagination -->
            {% if paginator.total_pages > 1 %}
          <div class="pager">
            <div class="flex justify-center items-center mb-12">
              {% if paginator.previous_page %}
                <a class="flex justify-center items-center w-45 h-10 border border-gray-200 bg-gray-100 hover:bg-gray-200 cursor-pointer" href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Articles précédents</a>
            {% endif %}

            {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' | replace: '//', '/' | relative_url %}
              
              {% comment %} First page {% endcomment %}
              {% if paginator.page == 1 %}
                <a href="#" class="disabled current flex justify-center items-center w-10 h-10 border border-gray-200 bg-gray-100 text-gray-500 pointer-events-none">1</a>
              {% else %}
                <a href="{{ first_page_path }}" class="flex justify-center items-center w-10 h-10 border border-gray-200 hover:bg-gray-200">1</a>
              {% endif %}
              
              {% assign page_start = 2 %}
              {% if paginator.page > 4 %}
                {% assign page_start = paginator.page | minus: 2 %}
                {% comment %} Ellipsis for truncated links {% endcomment %}
                <a href="#" class="disabled flex justify-center items-center w-10 h-10 border border-gray-200 text-gray-500 pointer-events-none">&hellip;</a>
              {% endif %}
              
              {% assign page_end = paginator.total_pages | minus: 1 %}
              {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
              {% if pages_to_end > 4 %}
                {% assign page_end = paginator.page | plus: 2 %}
              {% endif %}
          
              {% for index in (page_start..page_end) %}
                {% if index == paginator.page %}
                <a href="{{ site.paginate_path | replace: ':num', index | replace: '//', '/' | relative_url }}" class="disabled active flex justify-center items-center w-10 h-10 border border-gray-200 bg-gray-100 text-gray-500 pointer-events-none">{{ index }}</a>
                {% else %}
                  {% comment %} Distance from current page and this link {% endcomment %}
                  {% assign dist = paginator.page | minus: index %}
                  {% if dist < 0 %}
                    {% comment %} Distance must be a positive value {% endcomment %}
                    {% assign dist = 0 | minus: dist %}
                  {% endif %}
                  <a href="{{ site.paginate_path | replace: ':num', index | relative_url }}" class="flex justify-center items-center w-10 h-10 border border-gray-200 hover:bg-gray-200">{{ index }}</a>
                {% endif %}
              {% endfor %}
          
              {% comment %} Ellipsis for truncated links {% endcomment %}
              {% if pages_to_end > 3 %}
                <span class="flex justify-center items-center w-10 h-10 border border-gray-200 text-gray-500 pointer-events-none">&hellip;</span>
              {% endif %}
          
              {% if paginator.page == paginator.total_pages %}
                <a href="#" class="disabled current flex justify-center items-center w-10 h-10 border border-gray-200 bg-gray-100 text-gray-500 pointer-events-none">{{ paginator.page }}</a>
              {% else %}
                <a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | replace: '//', '/' | relative_url }}" class="flex justify-center items-center w-10 h-10 border border-gray-200 hover:bg-gray-200">{{ paginator.total_pages }}</a>
              {% endif %}
          

              {% if paginator.next_page %}
                  <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}"  class="flex justify-center items-center w-45 h-10 border border-gray-200 bg-gray-100 hover:bg-gray-200 cursor-pointer">Articles suivants &rarr;</a>
              {% endif %}
            </div>
            </div>
            {% endif %}
          </div>
      </div>
    </div>
  </div>
</div>

