---
layout: default
pagination: 
  enabled: true
---
<style>
  .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
  }
  .pagination a,
  .pagination span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 1px solid #efefef;
      border-left: 0;
      border-radius: 12px;
      margin: 5px;
  }
  .pagination .active {
      background: #f3f3f3;
      pointer-events: none;
  }
  .pagination .active svg {
      opacity: .3;
  }
  .pagination a:hover {
      background: #f3f3f3;
      cursor: pointer;
  }
</style>
  
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-9">
        <div class="posts">
        
          <ul class="post-list">
            <!-- 
                Affichage de la pagne courante 
            -->
            {% for post in paginator.posts %}
            <article class="post">
              <div class="panel panel-primary">
                <div class="panel-body">
                  <h1 class="liste_article"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
                  {% if post.vignette %}
                  <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}" style="max-width: 200px; float:left; margin-right: 10px;" />
                  {% endif %}    
                  {% assign author = site.data.authors[post.author] %}
                  <div class="meta"><strong>Ecrit par <span
                    class="authors"><a href="{{ '/author/' | append: post.author | append: '/index.html' | relative_url }}">{{ author.name }}</a></span>, le <span
                    class="date">{{ post.date | date: "%d/%m/%Y"}}</span>
                  </strong></div>
                  <div class="content">
                    {{ post.excerpt }}
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
          </ul>

          <!-- 
            Boutons de pagination
          -->
          {% if paginator.total_pages > 1 %}
          <div class="pager">

            <div class="pagination">
              {% if paginator.previous_page %}
                <a style="width:180px;" href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Articles précédents</a>
            {% endif %}

            {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' | replace: '//', '/' | relative_url %}
              
              {% comment %} First page {% endcomment %}
              {% if paginator.page == 1 %}
                <a href="#" class="disabled current">1</a>
              {% else %}
                <a href="{{ first_page_path }}">1</a>
              {% endif %}
              
              {% assign page_start = 2 %}
              {% if paginator.page > 4 %}
                {% assign page_start = paginator.page | minus: 2 %}
                {% comment %} Ellipsis for truncated links {% endcomment %}
                <a href="#" class="disabled">&hellip;</a>
              {% endif %}
              
              {% assign page_end = paginator.total_pages | minus: 1 %}
              {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
              {% if pages_to_end > 4 %}
                {% assign page_end = paginator.page | plus: 2 %}
              {% endif %}
          
              {% for index in (page_start..page_end) %}
                {% if index == paginator.page %}
                <a href="{{ site.paginate_path | replace: ':num', index | replace: '//', '/' | relative_url }}" class="disabled active">{{ index }}</a>
                {% else %}
                  {% comment %} Distance from current page and this link {% endcomment %}
                  {% assign dist = paginator.page | minus: index %}
                  {% if dist < 0 %}
                    {% comment %} Distance must be a positive value {% endcomment %}
                    {% assign dist = 0 | minus: dist %}
                  {% endif %}
                  <a href="{{ site.paginate_path | replace: ':num', index | relative_url }}">{{ index }}</a>
                {% endif %}
              {% endfor %}
          
              {% comment %} Ellipsis for truncated links {% endcomment %}
              {% if pages_to_end > 3 %}
                <span>&hellip;</span>
              {% endif %}
          
              {% if paginator.page == paginator.total_pages %}
                <a href="#" class="disabled current">{{ paginator.page }}</a>
              {% else %}
                <a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | replace: '//', '/' | relative_url }}">{{ paginator.total_pages }}</a>
              {% endif %}
          

              {% if paginator.next_page %}
                  <a style="width:180px;" href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Articles suivants &rarr;</a>
              {% endif %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-3">
        <div class="follow-scroll hidden-xs">
          <a class="twitter-timeline" data-height="1200" href="https://twitter.com/SCIAM_FR?ref_src=twsrc%5Etfw">Tweets by SCIAM_FR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        </div>
      </div>
    </div>
  </div>