---
layout: default
title: "News"
---

<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <nav aria-label="Breadcrumb" class="py-5">
        <ol class="list-none flex">
            <li class="text-navysciam text-xl font-medium ">
                <a href="/" class="hover:underline">Accueil</a>
            </li>
            <li class="text-navysciam mx-2 text-xl font-medium">
                <span aria-hidden="true">/</span>
            </li>
            <li class="text-lightbluesciam text-xl font-medium">
               News
            </li>
        </ol>
    </nav>

    <div class="bg-gradient-to-r from-navysciamdark via-navysciam to-navysciamlight py-14 md:py-14 px-8 md:px-8 text-left mb-10 rounded-lg">
        <h1 class="text-white text-4xl font-sans font-bold">Tous les articles d'actualité</h1>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        {% assign news_posts = site.posts | where_exp: "post", "post.categories contains 'News'" %}
        {% for post in news_posts %}
        <div class="bg-white rounded-xl overflow-hidden shadow-lg">
            {% if post.vignette %}
            <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}"
                class="object-cover w-full h-48 border-slate-100 rounded-t-xl" alt="Image article">
            <hr class="bg-stone-50 opacity-50" />
            {% endif %}
            <div class="p-6">
                <div class="text-xl font-bold mb-2 line-clamp-1">
                    <a href="{{ post.url | relative_url }}" class="hover:text-navysciam hover:decoration-yellowsciam">{{ post.title }}</a>
                </div>
                {% if post.auteurs and post.auteurs.size > 1 %}
                <div class="text-sm text-gray-500 mb-4">
                    <strong>
                        {% for auteur in post.auteurs %}
                        {% assign author = site.data.authors[auteur] %}
                        {% if author.name %}
                        {% if forloop.first %}
                        {% elsif forloop.last %}
                        et
                        {% else %}
                        ,
                        {% endif %}
                        {% if author.picture %}
                        <img class="rounded-full w-6 h-6 inline"
                            src="{{ '/images/authors/' | append: author.picture | relative_url }}"
                            alt="{{ author.name }}">
                        {% endif %}
                        <span class="text-base text-navysciam">
                            <a href="{{ '/author/' | append: auteur | append: '/index.html' | relative_url }}">{{
                                author.name }}</a>
                        </span>
                        {% endif %}
                        {% endfor %}
                    </strong>
                </div>

                {% elsif post.author %}
                {% assign author = site.data.authors[post.author] %}
                {% if author.name %}
                <div class="flex text-sm text-gray-500 mb-4">
                    {% if author.picture %}
                    <img class="rounded-full w-11 h-11 inline"
                        src="{{ '/images/authors/' | append: author.picture | relative_url }}" alt="{{ author.name }}">
                    {% endif %}
                    <div class="flex flex-col pl-4">
                        <span class="text-base font-bold text-navysciam"><a
                                href="{{ '/author/' | append: post.author | append: '/index.html' | relative_url }}">{{
                                author.name }}</a></span>
                        <div class="flex">
                            <span class="text-base font-normal text-navysciam">{{ post.date | date: "%d/%m/%Y" }}</span>
                            <p class="text-navysciam pl-2">• {{ post.content | reading_time | pluralize: "min" }} de
                                lecture</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}

                <p class="line-clamp-3">{{ post.excerpt | strip_html }}</p>
                <a href="{{ post.url | relative_url }}"
                    class="text-navysciam hover:text-yellowsciam transition duration-300 ease-in-out">Lire la
                    suite...</a>
            </div>

            <div class="px-6 pt-4 pb-2">
                {% for tag in post.tags %}
                {% assign tagSlug = tag | downcase | slugify: "raw" %}
                <a href="{{ '/tag/' | relative_url }}{{ tagSlug }}/"
                    class="inline-block rounded-full border-0.5 bg-{{ tagSlug }}-100 border-{{ tagSlug }}-200 text-{{ tagSlug }}-500 px-3 py-1 text-sm font-semibold mr-2 mb-2">
                    #{{ tag }}
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

</div>