<div class="mt-6 mb-10 flex flex-col md:flex-row border border-lightbluesciam rounded-lg shadow-md">
  <div class="md:w-56 md:mr-5 mb-4 md:mb-0 flex md:flex-col justify-center items-center">
    {% if post.vignette %}
      <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}" class="max-w-full h-auto mx-auto rounded-l-lg" />
    {% endif %}
  </div>

  <div class="flex flex-col justify-center">
    <h3 class="text-xl font-sans text-navysciam font-bold mb-2"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
    <p class="text-gray-600 mb-2">Publi&eacute; le {{ post.date | date: "%d/%m/%Y" }}</p>
    <div>
      {{ post.excerpt }}
    </div>
  </div>
</div>
