<div class="w-full h-full bg-transparent overflow-hidden rounded-xl">
  <blockquote class="twitter-tweet"><p dir="ltr" lang="fr">Merci encore <a
      href="https://twitter.com/RivieraDEV?ref_src=twsrc%5Etfw">@RivieraDEV</a> pour cette super
    conf et l’accueil de nos 6 speakers. On était ravi de venir parler <a
        href="https://twitter.com/hashtag/java?src=hash&amp;ref_src=twsrc%5Etfw">#java</a> <a
        href="https://twitter.com/hashtag/quarkus?src=hash&amp;ref_src=twsrc%5Etfw">#quarkus</a> <a
        href="https://twitter.com/hashtag/cdi?src=hash&amp;ref_src=twsrc%5Etfw">#cdi</a> <a
        href="https://twitter.com/hashtag/langchain4j?src=hash&amp;ref_src=twsrc%5Etfw">#langchain4j</a>
    et <a href="https://twitter.com/hashtag/kogito?src=hash&amp;ref_src=twsrc%5Etfw">#kogito</a> !
    <a href="https://t.co/ZHvvxWmbfe">pic.twitter.com/ZHvvxWmbfe</a></p>&mdash; SCIAM (@SciamVox) <a
      href="https://twitter.com/SciamVox/status/1811156271959081043?ref_src=twsrc%5Etfw">July 10,
    2024</a></blockquote>
  <script async charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
</div>
