<div class="w-full h-full bg-transparent overflow-hidden rounded-xl flex items-center justify-center">
        <blockquote class="twitter-tweet w-full max-w-full" data-lang="fr" data-dnt="true"><p lang="fr" dir="ltr">Nouveau meetup dev Toulon. Ce soir <a href="
          https://twitter.com/HoublonCaptain?ref_src=twsrc%5Etfw">@HoublonCaptain</a>
          nous parlera de l’informatique contrainte et des optimisations sur les premières versions de <a href="
          https://twitter.com/hashtag/Mario?src=hash&amp;ref_src=twsrc%5Etfw">#Mario</a>
          et <a href="
          https://twitter.com/hashtag/Quake?src=hash&amp;ref_src=twsrc%5Etfw">#Quake</a>
          et <a href="
          https://twitter.com/sejchr?ref_src=twsrc%5Etfw">@sejchr</a>
          fera un état des lieux et donnera des sur l’<a href="
          https://twitter.com/hashtag/IA?src=hash&amp;ref_src=twsrc%5Etfw">#IA</a>
          générative, les <a href="
          https://twitter.com/hashtag/LLM?src=hash&amp;ref_src=twsrc%5Etfw">#LLM</a>
          et le <a href="
          https://twitter.com/hashtag/Rag?src=hash&amp;ref_src=twsrc%5Etfw">#Rag</a>
          <a href="
          https://t.co/06s8y3ID9E">pic.twitter.com/06s8y3ID9E</a></p>&mdash;
          SCIAM (@SciamVox) <a href="
          https://twitter.com/SciamVox/status/1796227437094682936?ref_src=twsrc%5Etfw">30
          mai 2024</a></blockquote> <script async src="
          https://platform.twitter.com/widgets.js"
          charset="utf-8"></script>
</div>
