---
layout: default
---

<!-- This has the username of author. The one that you set with "author: name" in front-matter-->
{% assign author_username = page.pagination.author %}

<!-- Use page.pagination.author_data only if you have data file setup correctly -->
{% assign author = page.pagination.author_data %}
<!--
  Now you can use the author variable anyhow.
  It has all the data as defined inside _data/authors.yml for the current username.
-->

<div class="p-8 bg-grayBgSciam">
  <div class="bg-white py-10 px-14 text-navysciam rounded-lg shadow-md">
    
    {% if author.picture %}
    <img class="rounded-full w-20 h-20 mr-4 float-left"
      src="{{ '/images/authors/' | append: author.picture | relative_url }}" alt="{{ author.name }}'s picture" />
    {% endif %}
    
    <div class="mt-6">
      <h1 class="text-2xl font-sans text-navysciam font-bold">{{ author.name }}</h1>
      <p class="font-semibold">{{ author.job }}</p>
      <div class="mt-6">
        <p>{{ author.bio }}</p>
      </div>
    </div>

    <div class="flex space-x-3 py-4">
      {% if author.twitter %}
      <a href="https://twitter.com/{{ author.twitter }}" title="X (Twitter)" target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/x-icon.svg" alt="x-logo">
        </span>
        <span class="sr-only">X (Twitter)</span>
      </a>
      {% endif %}
    
      {% assign links = author.socials %}
    
      {% if links.linkedin %}
      <a href="https://www.linkedin.com/in/{{ links.linkedin }}" title="LinkedIn" target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/linkedin.svg" alt="linkedin-logo">
        </span>
        <span class="sr-only">LinkedIn</span>
      </a>
      {% endif %}
    
      {% if links.mastodon %}
      <a href="https://{{ links.mastodon }}" class="text-gray-900 hover:text-gray-600" title="Mastodon" target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/mastodon-icon.svg" alt="linkedin-logo">
        </span>
        <span class="sr-only">Mastodon</span>
      </a>
      {% endif %}
    
      {% if author.website %}
      <a href="{{ author.website }}" class="text-gray-900 hover:text-gray-600" title="Website" target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/website-link.svg" alt="linkedin-logo">
        </span>
        <span class="sr-only">Website</span>
      </a>
      {% endif %}
    
      {% if links.github %}
      <a href="https://gitlab.com/{{ links.github }}" class="text-gray-900 hover:text-gray-600" title="GitLab"
        target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/github.svg" alt="github-logo">
        </span>
        <span class="sr-only">GitHub</span>
      </a>
      {% endif %}
    
      {% if links.gitlab %}
      <a href="https://gitlab.com/{{ links.gitlab }}" class="text-gray-900 hover:text-gray-600" title="GitLab"
        target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/gitlab-icon.svg" alt="github-logo">
        </span>
        <span class="sr-only">GitLab</span>
      </a>
      {% endif %}
      {% if author.pagesciam %}
      <a href="{{ author.pagesciam }}" class="text-gray-900 hover:text-gray-600" title="Equipier Sciam" target="_blank">
        <span aria-hidden="true">
          <img src="/images/icons/user-icon.svg" alt="github-logo">
        </span>
        <span class="sr-only">Bio Sciam</span>
      </a>
      {% endif %}
    </div>
  </div>

  <p>&nbsp;</p>
  <div class="bg-white py-10 px-14 rounded-lg shadow-md">
    <h2 class="text-2xl font-sans text-navysciam font-bold my-4">Articles publi&eacute;s</h2>
    <div>
      {% for post in paginator.posts %}
        {% include postbox.html %}
        <br>
      {% endfor %}
    </div>
  </div>

  {% if paginator.total_pages > 1 %}
  <ul class="flex justify-center list-none mt-6">
    {% if paginator.previous_page %}
    <li class="mx-2">
      <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
        href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Articles précédents</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="mx-2">
      <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
        href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Articles suivants &rarr;</a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>