---
layout: default
---

<div class="p-8 bg-grayBg">
  <div class="bg-white py-10 px-14 rounded-lg shadow-md">
    <h1 class="text-2xl font-sans text-navysciam font-bold my-4">
      Articles associés au tag
      {% if page.autopages %}
      <span class="rounded-lg border-0.5 px-4 py-2 ml-2"
        data-tag-name="{% if page.autopages %}{{ page.autopages.display_name }}{% endif %}">
        {{ page.autopages.display_name }}
      </span>
      {% endif %}
    </h1>

    <div>
      {% for post in paginator.posts %}
      <div class="my-8 flex flex-col md:flex-row border border-lightbluesciam rounded-lg">
        <div class="w-56 md:mr-5 md:mb-0 flex md:flex-col justify-center items-center border-r-0.5 border-zinc-200">
          {% if post.vignette %}
          <img src="{{ '/images/vignettes/' | append: post.vignette | relative_url }}"
            class="h-auto rounded-l-lg" />
          {% endif %}
        </div>

        <div class="flex flex-col justify-center py-10">
          <h3 class="text-xl font-sans text-navysciam font-bold mb-2"><a href="{{ post.url | relative_url }}">{{
              post.title
              }}</a></h3>
          {% assign author = site.data.authors[post.author] %}
          <div class="flex text-sm text-gray-500">
            {% if author.picture %}
            <img class="rounded-full w-11 h-11 inline"
              src="{{ '/images/authors/' | append: author.picture | relative_url }}" alt="{{ author.name }}">
            {% endif %}
            <div class="flex flex-col pl-4">
              <span class="text-base font-bold text-navysciam"><a
                  href="{{ '/author/' | append: post.author | append: '/index.html' | relative_url }}">{{
                  author.name }}</a></span>
              <div class="flex">
                <span class="text-base font-normal text-navysciam">{{ post.date | date: "%d/%m/%Y" }}</span>
                <p class="text-navysciam pl-2">• {{ post.content | reading_time | pluralize: "min" }} de
                  lecture</p>
              </div>
            </div>
          </div>
          <div>
            {{ post.excerpt }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <ul class="flex justify-center list-none mt-6">
      {% if paginator.previous_page %}
      <li class="mx-2">
        <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
          href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Articles précédents</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="mx-2">
        <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
          href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Articles suivants &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>