---
layout: default
---

<div class="px-20 bg-grayBgSciam">

  <nav aria-label="Breadcrumb" class="py-5 mb-4">
    <ol class="list-none flex">
      <li class="text-navysciam text-xl font-medium">
        <a href="/" class="hover:underline">Accueil</a>
      </li>
      <li class="text-navysciam mx-2 text-xl font-medium">
        <span aria-hidden="true">/</span>
      </li>
      <li class="text-lightbluesciam text-xl font-medium">
        {{ page.autopages.display_name }}
      </li>
    </ol>
  </nav>

  <!-- Dynamic Banner -->
  <div class="rounded-lg py-6 flex items-center justify-between border-0.5 mb-8"
    data-tag-name="{% if page.autopages %}{{ page.autopages.display_name }}{% endif %}">
    <h1 class="text-6xl font-extrabold text-navysciam font-sans my-4 pl-10"># {{ page.autopages.display_name }} </h1>
  </div>

  <div class="py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for post in paginator.posts %}
      <div class=" bg-white rounded-lg shadow-lg overflow-hidden">
        {% if post.vignette %}
        {% assign bg_url = '/images/vignettes/' | append: post.vignette | relative_url %}
        <div class="h-60 w-full pb-[33.33%] bg-contain bg-no-repeat bg-center rounded-xl"
          style="background-image: url('{{ bg_url }}');"></div>
        <hr class="bg-stone-50 opacity-50" />
        {% endif %}

        <div class="px-12 py-6 flex flex-col justify-center">
          <h3 class="text-xl font-sans text-navysciam font-bold mb-2"><a href="{{ post.url | relative_url }}">{{
              post.title
              }}</a></h3>
          {% assign author = site.data.authors[post.author] %}
          <div class="flex text-sm text-gray-500">
            {% if author.picture %}
            <img class="rounded-full w-11 h-11 inline"
              src="{{ '/images/authors/' | append: author.picture | relative_url }}" alt="{{ author.name }}">
            {% endif %}
            <div class="flex flex-col pl-4">
              <span class="text-base font-bold text-navysciam"><a
                  href="{{ '/author/' | append: post.author | append: '/index.html' | relative_url }}">{{
                  author.name }}</a></span>
              <div class="flex">
                <span class="text-base font-normal text-navysciam">{{ post.date | date: "%d/%m/%Y" }}</span>
                <p class="text-navysciam pl-2">• {{ post.content | reading_time | pluralize: "min" }} de
                  lecture</p>
              </div>
            </div>
          </div>
          <div>
            {{ post.excerpt }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if paginator.total_pages > 1 %}
    <ul class="flex justify-center list-none mt-6">
      {% if paginator.previous_page %}
      <li class="mx-2">
        <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
          href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Articles précédents</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="mx-2">
        <a class="bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded"
          href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Articles suivants &rarr;</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>