---
layout: default
pagination:
enabled: true
---

<div class="bg-zinc-50 min-h-screen">
  <!-- Hero Section -->
  <div class="py-40 relative">
    <div class="absolute top-0 left-0 w-1/3 h-full flex flex-col py-10 pl-28 pr-28 space-y-4 border border-r-2 border-slate-50">
      <div class="bg-white p-4">
        {% if page.auteurs.size > 1 %}
        <p class="text-black font-semibold">Auteurs:</p>
        {% for auteur in page.auteurs %}
        {% assign author = site.data.authors[auteur] %}
        {% if author.name %}
        <a href="{{ '/author/' | append: auteur | append: '/index.html' | relative_url }}" class="text-navysciam">
          {% include author_bio.html %}
        </a>
        {% endif %}
        {% endfor %}
        {% else %}
        <p class="text-black font-semibold">Auteur:</p>
        {% assign author = site.data.authors[page.author] %}
        {% if author.name %}
        <a href="{{ '/author/' | append: page.author | append: '/index.html' | relative_url }}" class="text-navysciam">
          {% include author_bio.html %}
        </a>
        {% endif %}
        {% endif %}
      </div>
      
      <div class="bg-white p-4">
        <p class="text-black">Publié le {{ page.date | date: "%d/%m/%Y" }}</p>
        <p class="text-black">Temps de lecture : {{ content | reading_time | pluralize: "minute" }}</p>
      </div>
    </div>

    <div class="absolute top-0 left-1/3 w-1/3 h-full flex justify-center items-center border border-r-2 border-slate-50">
      <p class="text-3xl text-navysciam font-bold">{{ page.title }}</p>
    </div>
  </div>


  <!-- Content Section with Main Content and Sidebar -->
  <div class="flex">
    <div class=" flex-1 pt-10 pl-28 pr-5">
      <!-- <p class="text-2xl font-bold mb-7">{{ page.subtitle }}</p> -->
      <div class="prose lg:prose-xl text-slate-800">
        {{ content }}
      </div>
    </div>

    <div class="w-80 pt-10 pl-5 pr-28">
      <!-- Place for additional information or widgets -->
      <!-- <p>Published on {{ page.date | date: "%d/%m/%Y" }}</p>
      <p>Reading time: {{ content | reading_time | pluralize: "minute" }}</p> -->
      {% if page.tags.size > 0 %}
      <div>
        <h3 class="font-semibold">Tags:</h3>
        <ul>
          {% for tag in page.tags %}
          <li><a href="{{ '/tag/' | relative_url }}{{ tag | slugify }}" class="text-blue-700 hover:text-blue-900">{{ tag }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Pagination Controls -->
  <div class="flex justify-between items-center my-8 px-8">
    <div>
      {% if page.previous.url %}
      <a href="{{ page.previous.url | relative_url }}" class="text-blue-500 hover:text-blue-700">&larr; Previous Article</a>
      {% endif %}
    </div>
    <div>
      {% if page.next.url %}
      <a href="{{ page.next.url | relative_url }}" class="text-blue-500 hover:text-blue-700">Next Article &rarr;</a>
      {% endif %}
    </div>
  </div>

  <!-- Comments Widget -->
  <div class="px-8">
    <script src="https://giscus.app/client.js"
            data-repo="SCIAM-FR/sciam-fr.github.io"
            data-repo-id="R_kgDOJnEX-w"
            data-category="General"
            data-category-id="DIC_kwDOJnEX-84Cbj8_"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="fr"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</div>