---
layout: default
pagination:
  enabled: true
---

<div class="relative min-h-screen px-4 mb-10 lg:px-28 md:px-28 bg-grayBg overflow-visible">
    <!-- Hero Section -->
    <div class="flex flex-col md:flex-row items-center min-h-1/2 py-16">
      <!-- Text Block -->
      <div class="text-navysciam md:w-1/2 p-8">
        <p class="text-4xl font-bold mb-4">{{ page.title }}</p>
        <div class="text-greysciam mb-4">
          <div>
            <!-- Authors information -->
            {% if page.auteurs.size > 1 %}
              <p class="font-semibold">Auteurs:</p>
              {% for auteur in page.auteurs %}
                {% assign author = site.data.authors[auteur] %}
                {% if author.name %}
                  <a href="{{ '/author/' | append: auteur | append: '/index.html' | relative_url }}">
                    {% include author_bio.html %}
                  </a>
                {% endif %}
              {% endfor %}
            {% else %}
              {% assign author = site.data.authors[page.author] %}
              {% if author.name %}
                <a href="{{ '/author/' | append: page.author | append: '/index.html' | relative_url }}">
                  {% include author_bio.html %}
                </a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="text-gray-400 mb-4">
          <span class="mr-2">Publié le {{ page.date | date: "%d/%m/%Y" }}</span> • 
          <span class="ml-2">Temps de lecture : {{ content | reading_time | pluralize: "minute" }}</span>
        </div>
        <p class="text-xl">{{ page.excerpt | strip_html }}</p>
        
        <div class="pt-4 pb-2">
          {% if page.tags.size > 0 %}
          {% for tag in page.tags %}
          {% assign tagSlug = tag | downcase | slugify: "raw" %}
          <a href="{{ '/tag/' | relative_url }}{{ tagSlug }}/" 
             class="inline-block rounded-full border-0.5 bg-{{ tagSlug }}-100 border-{{ tagSlug }}-200 text-{{ tagSlug }}-500 px-3 py-1 text-sm font-semibold mr-2 mb-2">
             #{{ tag }}
          </a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <!-- Image Block -->
      <div class="flex justify-center items-center w-custom-width h-custom-height">
        <div
          class="w-full h-full bg-hero-image custom-width custom-height bg-center bg-no-repeat bg-cover flex justify-center items-center rounded-xl bg-opacity-85">
          <div class="w-full h-full overflow-hidden flex justify-center items-center bg-navysciam bg-opacity-60 rounded-xl">
            <img src="{{ '/images/vignettes/' | append: page.vignette | relative_url }}" alt="Post Image"
              class="max-w-full max-h-full p-6 rounded-2.5">
          </div>
        </div>
      </div>
    </div>
  
    <!-- Main Content and Sidebar -->
    <div class="md:grid md:grid-cols-3 md:gap-4 mt-4">

        <!-- Main Content -->
        <div 
            class="bg-white md:col-span-2 p-8 rounded-xl shadow-lg overflow-hidden
            prose lg:prose-2xl
            prose-headings:text-2xl 
            prose-headings:pt-1
            prose-headings:font-black 
            prose-headings:font-sans
            prose-headings:text-navysciam
            prose-p:text-lg
            prose-p:text-navysciam
            prose-a:text-blue-600 
            hover:prose-a:text-yellow-500
            prose-code:text-sm
            prose-pre:text-base
            prose-blockquote:text-sm
            prose-blockquote:text-navysciam">
          {{ content }}
        </div>
      
        <!-- Sidebar for Table of Contents -->
        <div class="md:col-span-1">
          <div class="sticky bg-white top-10 max-h-screen overflow-auto p-4 rounded-xl shadow-lg">
            {% if page.toc %}
            <p class="text-xl text-navysciam font-bold">Table of Contents:</p>
            <hr class="my-4 bg-zinc-200" />
            <nav id="toc" class="toc
            prose-pre:font-sans
            prose-table:font-sans
            prose-table:text-base
            prose-thead:font-sans
            prose-td:font-sans
            prose-li:font-sans
            prose-li:pb-3
            prose-li:text-lg
            prose-ul:text-md
            prose-li:text-navysciam">
              {{ content | toc_only }}
            </nav>
            {% endif %}
          </div>
        </div>
    </div>
</div>
